  body{margin:0; padding:0; background-color:#FFF;}
  *{ margin: 0; padding: 0;}
  img{border:none; vertical-align:top; display:block}
  p.info{width:496px; height:40px; margin:20px auto; line-height:20px;}
  .float-left{float:left;}
  .clear-both{height:0; overflow:hidden; clear:both;}
  
  .wall,.bare,.flower,.iron,.water{width:16px; height:16px; float:left; overflow:hidden; position: relative;}
  
  .wall{background:url(images/tankAll.gif) no-repeat 0 -96px;}
  .bare{background:#000;}
  .iron{background:url(images/tankAll.gif) no-repeat -16px -96px;}
  .flower{background:url(images/tankAll.gif) no-repeat -32px -96px; z-index: 5;}
  .water{background:url(images/tankAll.gif) no-repeat -48px -96px;}
  #lair{width:32px; height:32px; background:url(images/tankAll.gif) no-repeat -256px 0; z-index: 2;}
  
  #main{width:496px; height:416px; margin:20px auto; position:relative; background-color:#000; overflow:hidden;}
  #left,#right{ width:416px; height:416px; float:left; background:#000;position:relative;}
  #right{width:80px;background-color: rgb(127, 127, 127);}

.tank { background-image: url(images/Tank.png); background-repeat: no-repeat; overflow: hidden; position: absolute; width: 32px; height: 32px; z-index: 3; top:384px; left:128px; }
.bullet { background-image: url(images/bullet.gif); width: 8px; height: 8px; position: absolute; z-index: 4; background-repeat: no-repeat; }
.Boom { background-image: url(images/Boom.png); width: 64px; height: 64px; position: absolute; z-index: 4; }
 